{% extends "base_template.html" %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Iniciar Sesion</h1>
    <hr/>  
        <form action = "{{ request.path }}" method = "post" class="container">
            <label for = "email">Ingrese su correo</label><br>
            <input type = "text" name = "email" placeholder = "correo" /><br> 		 
            <label for = "password">Ingrese su contraseña</label><br>
            <input type = "password" name = "password" placeholder = "contraseña"/><br>		 
            <label for="user_type">Rol</label><br>
            <select name="user_type" id="user_type">
                <option value="Preceptor">Preceptor</option>
                <option value="Padre">Padre</option>
            </select>          

            <br>
            <input type = "submit" value = "Iniciar sesión"/>

        </form>
{% endblock %}

